{{#*inline "title"}}Add - Mima{{/inline}}

{{#*inline "page"}}
<h1><a href="/">Mima</a> .. Add</h1>
<hr />

<p><br /></p>

{{#if msg}}
  <p class="FlashMessage">{{msg}}</p>
{{/if}}

<form action="/add" method="POST" autocomplete="off">
  <label for="title">Title:</label>
    <input type="text" name="title" id="title" class="Fields" autofocus required
           onblur="this.value = this.value.trim()" />
  <label for="username">Username:</label>
    <input type="text" name="username" id="username" class="Fields"
           onblur="this.value = this.value.trim()" />
  <label for="password">Password: (<a href="#" onclick="generatePW()">generate</a>)</label>
    <input type="text" name="password" id="password" class="Fields" />
  <label for="notes">Notes:</label>
    <textarea name="notes" id="notes" class="Fields"></textarea>
  <p>
    <input type="submit" value="Submit" />
  </p>
</form>

{{#if form_data}}
<script type="text/javascript">
document.getElementById('title').value = '{{form_data.title}}'
document.getElementById('username').value = `{{{form_data.username}}}`
document.getElementById('password').value = ''
document.getElementById('notes').value = `{{{form_data.notes}}}`
</script>
{{/if}}

{{/inline}}
{{~> layout~}}
