<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="1800">
    <title>{% block title %}{% endblock title %}</title>
    <style type="text/css">
      body {
        font-family: serif;
        font-size: 12pt;
        margin-left: 2em;
      }
      label {
        display: block;
      }
      .Fields {
        font-size: larger;
        width: 15em;
        margin-left: 1em;
        -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
                box-sizing: border-box;
      }
      textarea {
        resize: vertical;
        height: 3em;
      }
      .FlashMessage {
        font-weight: bold;
        color: red;
      }
    </style>

    <script type="text/javascript">
    function sendData(data, url) {
      // https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Sending_forms_through_JavaScript
      var XHR = new XMLHttpRequest();
      var FD  = new FormData();

      for(name in data) {
        FD.append(name, data[name]);
      }
      console.log(FD)

      XHR.open('POST', url);
      XHR.send(FD);
    }
    function generatePW() {
      var xhr = new XMLHttpRequest()
      xhr.open('GET', '/new-password')
      xhr.onload = function() {
        if (this.status === 200) {
          document.getElementById('Password').value = this.responseText
        }
      }
      xhr.onerror = function() {
        window.alert('Oops! An error occurred. (服务器端返回错误)')
      }
      xhr.send()
    }
    </script>

  </head>
  <body>
  {% block body %}{% endblock body %}
  </body>
</html>
