{{#*inline "title"}}Login - Mima{{/inline}}

{{#*inline "page"}}
<h1>Mima .. Login</h1>
<hr />

{{#if msg}}
  <p class="FlashMessage">{{msg}}</p>
{{/if}}

<form action="/login" method="post" autocomplete="off">
<label for="passowrd">Password:</label>
  <input type="password" name="password" class="Fields" autofocus required />
<input type="submit" value="Submit"/>
</form>

{{/inline}}
{{~> layout~}}
